<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Modulus" value="pzhjEmHIRrMdmH3AhMRg59q1mby0UmHqLUwUPgAcsaBTP7qGTcz2sfY0BaQmyXt4jSAOm80G4IBJ5RCEiMt4iw==" />
    <add key="Exponent" value="AQAB" />
    <add key="P" value="+EU1cXJ05UZR0ETMhXyuWSK9a+WR6nNJf7Uzdd9yXFM=" />
    <add key="Q" value="rG0vHp94kVQ0OZSPc2KdjKUbJ+AFQmbDVArwVDCOq+k=" />
    <add key="DP" value="6R/7vgpuz7fHLRzdO19HS7W+Tqmj6ZXV51BcAQwPk7c=" />
    <add key="DQ" value="dTkpfq02H79aXgcU24Ig0DxzUNGpYbJRezKQnvwAEvk=" />
    <add key="InverseQ" value="ArANLF6mYdTwij8RtVMM718tp6a2ca7rcUMVdmsn28M=" />
    <add key="D" value="A2DUP47SKPt9YZNIzGXbP1Pfz1dMnU11Ga0ry4TdD4mRJTHTY6pEQDT35SUgKFcFtA6ZoLI90VuLy3ss2TvdwQ==" />
  </appSettings>
</configuration>